<h1>You created a contact!</h1>

  <h3>Name: @Model.GetName()</h3>
  <h3>Phone Number: @Model.GetPhoneNumber()</h3>
  <h3>Address: @Model.GetAddress()</h3>

  <form action="/view_contacts">
    <button type="click">Back to view contacts</button>
  </form>
