<h2>Please enter a contact name to delete: </h2>
<form action="/view_contacts/" method="post">
  <label for="delete-contact">Contact Name</label>
  <input for="delete-contact" name="delete-contact" type="text">
  <button type="submit">Submit</button>
</form>
