<h1>Edit info:</h1>
<form action="/contact_created" method="post">
  <label for="edit-name">Name</label>
  <input id="edit_name" name="edit-name" type="text">
  <label for="edit-phoneNumber">Phone number</label>
  <input id="edit-phoneNumber" name="edit-phoneNumber" type="text">
  <label for = "edit-address">Address</label>
  <input id="edit-address" name="edit-address" type="text">
  <button type="submit">Add Contact</button>
</form>
