<h1>Welcome to Address Book</h1>
  <p>Please choose one of the two options from below</p>

  <form action="/view_contacts">
    <button type="click">View existing contacts</button>
  </form>
  <form action="/contact/new">
    <button type="click">Create a new Contact</button>
  </form>
  <form action="/search/contact">
    <button type="click">Search Contact</button>
  </form>
