<h1>Here are the existing contacts</h1>
<ul>
  @foreach (var contact in Model)
  {
    <li>Name: @contact.GetName()</li>
      <ul>
        <li>Phone Number: @contact.GetPhoneNumber()</li>
        <li>Address: @contact.GetAddress()</li>
      </ul>
  }
</ul>

<form action="/">
  <button type="click">Home</button>
</form>
<form action="/contacts_deleted" method="post">
  <button type="submit">Delete all contact</button>
</form>
